<ul class="uk-subnav uk-subnav-line uk-text-center uk-text-large">
	<li><a href data-uk-modal="{target:'#modalShare'}"><i class="mdi mdi-social-share"></i> 分享出去！</a></li>
	<li><a href="http://hsnu.qov.tw/"><i class="mdi mdi-action-exit-to-app"></i> 成績查詢系統</a></li>
</ul>

<ul class="uk-subnav uk-subnav-line uk-text-center">
	<li><a href data-uk-modal="{target:'#modalReport'}"><i class="mdi mdi-action-announcement"></i> 錯誤回報</a></li>
	<li><a href data-uk-modal="{target:'#modalComment'}"><i class="mdi mdi-communication-email"></i> 意見箱</a></li>
	<li><a href data-uk-modal="{target:'#modalManual'}"><i class="mdi mdi-communication-live-help"></i> 使用說明</a></li>
	<li><a href data-uk-modal="{target:'#modalAbout'}"><i class="mdi mdi-device-dvr"></i> 關於此系統</a></li>
</ul>


<div id="schFooter" class="uk-text-right">
	<p>
		HSNU-Schedule ver. Alpha &mdash; © Andy Pan, 2015<br/>
		<span class="uk-text-muted">Powered by AngularJS and UIkit</span>
	</p>
</div>